body 
  font-family: 'Intro-Regular', sans-serif
  background-color: $darkBlue
  background-image: url('~@assets/images/bg-texture.png')

div.container
  max-width: 1200px
  margin: 0 auto

html, body 
  height: 100%